<div class="all">
  
<div class="volver">
<button class="buttonVolver" [routerLink]="['..']">Go Back to Country List</button>
<button class="buttonVolver"  (click)="onButtonClick()">Add New Destination</button>
</div>
<app-destination [destinationPop]="showPopUp" (messageEvent)="receiveMessage($event)"></app-destination>
<div class="itemContainer">
<div class='item' *ngFor="let dest of newDestino">
 <h4 class="element x">{{dest.id}}</h4> 
<h4 class="element y">Pais: {{dest.selCountry}}</h4>
<h4 class="element z">Ciudad: {{dest.nombre}}</h4>
</div>
</div>
</div>

