.mapa{
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
}

.detalles{
    margin: auto;
    text-align: center;
    
}

.volver{
    display: flex;
    justify-content: center;

    margin-top:2%;
 
 .buttonVolver{
    background-color: blue;
    color:white;
    font-weight: bold;
    padding: 1%;
    &:hover{
        cursor: pointer;
    }
 }
 
    

}