.buscador{
    
    margin-top: 2%;
    text-align: center;
    padding: 1%;
    
   .buscador_label{
       margin-right: 1%;
       font-size: large;
       font-weight: bold;
   }
   input{
    padding: 1%;
    border-width: 7px;
    border-radius: 10%;
    &:hover{
        border-color: rgba(23,185,120,255);
        cursor: pointer;
    }
   }
}

.list{
    list-style:none;
    margin:.5%;
    padding: 2%;
    
}
.list-item{
    padding-inline: 2%;
    margin:2%;
    border: 3px solid;
    display: flex;
    background-color: #242454;
    opacity: 0.9;
    color: white;
    font-weight: bolder;
    
    &:hover{
        background-color: rgba(23,185,120,255);
        color: black;
        cursor: pointer;
         transform: scale(1.05) 
    }

    .bandera{
       
        img{
            
            height: 60%;
            width: 30%;
            margin-left: 5%;
            margin-top: 4%;
       
        }
    }
  

}


.contact{
    display: flex;
    justify-content: center;

    margin-top:2%;
 
 .buttonContact{
    background-color: rgba(23,185,120,255);
    color:white;
    font-weight: bold;
    padding: 1%;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
 }
 
}